<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menu</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="treeview" id="opcionesAdmin" style="display: none">
        <a href="#">
            <i class="fa fa-truck"></i><span>Panel de Admin.</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edge"></i><span>Reportes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Things</a></li>
                </ul>
                @*<a href="#">
                <i class="fa fa-edge"></i><span>Cambiar ponderaciones</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <a href="#">
                <i class="fa fa-edge"></i><span>Another thing</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>*@
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edge"></i><span>Usuarios</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Admin. de usuarios</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="treeview" id="linkAuditorias" style="display: none">
        <a href="#">
            <i class="fa fa-truck"></i><span>Inicio</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="treeview">
                <a href="#"><i class="fa fa-truck"></i><span>Things</span></a>
            </li>
            <li class="treeview" id="linkAudB2B">
            </li>
            <li class="treeview" id="linkAudLNS">
            </li>
        </ul>
    </li>
    <li class="treeview" style="display: block;">
        <a href="#">
            <i class="fa fa-truck"></i><span>Vistas</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="treeview">
                <a href="#" onclick="MuestraPaneles('/Client/ClientView')">
                    <i class="fa fa-truck"></i><span>Jose</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#" onclick="MuestraPaneles('/Admin/AdminView')">
                    <i class="fa fa-link"></i><span>Betz</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#" onclick="MuestraPaneles('/Kitchen/KitchenView')">
                    <i class="fa fa-link"></i><span>Gabriel</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview" style="display: none;">
        <a href="#">
            <i class="fa fa-truck"></i><span>Dashboard nivel planta</span>
            <span class="pull-right-container">
                <i class="fa fa-android pull-right"></i>
            </span>
        </a>
    </li>

    @*<li><a href="#"><i class="fad fa-address-book"></i><span> Another area</span></a></li>*@

</ul>

<script>

</script>
